<!DOCTYPE html>
<html lang="en">
<head>
    {{ghost_head}}
  <link rel="stylesheet" href="{{asset "css/style.css"}}">
<script src="{{asset "js/script.js"}}"></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
    {{ghost_foot}}
</body>
</html>
